= stylesheet_link_tag "furima/application"
= stylesheet_link_tag "furima/_reset"
= stylesheet_link_tag "devise/registrations_new"
=render "shared/miniheader"
.single-main
  .single-main__head
    %h2
      新規会員登録
  .single-main__form
    = form_with model: @user, url: user_registration_path, class: :form, local: true do |f|
      .l-single-content
        .l-single-content__group
          %p
            -# コメントの追加をする場合はここに記入
        .actions
          = link_to new_user_registration_path do
            = f.submit "メールアドレスで登録する" ,class: "next-btn"
        .l-single-content__group
          %p
            -# コメントの追加をする場合はここに記入
=render "shared/minifooter"