.signup-wrapper
  .single-header
    .single-header__logo
      = image_tag "logo.png",height: '50', width: '150'

    %nav.progress-bar3
      %ol.clearfix
        %li.progress-bar3__active
          会員情報
          .progress-bar3__active__status
        %li.progress-bar3__active__phone-number
          電話番号認証
          .progress-bar3__active__status__phone-number
        %li.progress-bar3__active__address
          お届け先住所入力
          .progress-bar3__active__status__address
        %li.progress-bar3__active__payment
          支払い方法
          .progress-bar3__active__status__payment
        %li.progress-bar3__active__complete
          完了
          .progress-bar3__active__status__complete

  .signup-main3
    .signup-main3__head 発送元・お届け先住所入力
    .a-3
      = form_with model: @address, class: :form, local: true do |f|
        -# = render "#", resource: @address

        .signup3__form
          %p
            お名前
          %span.content__require 必須
        = f.text_field :first_name, placeholder: "例) 山田", class: "signup3__form__input"
        = f.text_field :last_name, placeholder: "例) 太郎", class: "signup3__form__input"

        .signup3__form
          %p
            お名前カナ
          %span.content__require 必須
        = f.text_field :first_name_kana, placeholder: "例) ヤマダ", class: "signup3__form__input"
        = f.text_field :last_name_kana, placeholder: "例) 太郎", class: "signup3__form__input"

        .signup3__form
          %p
            郵便番号
          %span.content__require 必須
        = f.text_field :zip_code, placeholder: "例) 1234567", class: "signup3__form__input"
        %p.signup3__form__notice
          ※ ハイフンをつけずにご入力ください
        .signup3__form
          %p
            都道府県
          %span.content__require 必須
        = f.text_field :prefecture, placeholder: "例) 神奈川県", class: "signup3__form__input"


        .signup3__form
          %p
            市区町村
          %span.content__require 必須
        = f.text_field :city, placeholder: "例) 横浜市緑区", class: "signup3__form__input"

        .signup3__form
          %p
            番地
          %span.content__require 必須
        = f.text_field :block, placeholder: "例) 青山1-1-1", class: "signup3__form__input"

        .signup3__form
          %p
            建物名

        %input.next-btn{type: 'submit',value: '次へ進む'}
    -# = render "shared/single-footer"