= stylesheet_link_tag "furima/_reset"
= stylesheet_link_tag "devise/registrations_new"
=render "shared/miniheader"
.single-main
  .single-main__head
    %h2 
      発送元・お届け先住所入力
  .single-main__form
    = form_with model: @address, class: :form, local: true do |f|
      .l-single-content
        .l-single-content__group
          %label{:for => ""} お名前(全角)
          %span 必須
          .name-form
            = f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "例) 山田", class: "signup3__form__input"
            = f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "例) 太郎", class: "signup3__form__input"
        .l-single-content__group
          %label{:for => ""} お名前カナ(全角)
          %span 必須
          .name-form
            = f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "例) ヤマダ", class: "signup3__form__input"
            = f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "例) タロウ", class: "signup3__form__input"
        .l-single-content__group
          %label{:for => ""} 郵便番号
          %span 必須
          = f.text_field :zip_code, placeholder: "例) 1234567", class: "signup3__form__input"
          %p.text-gray
            ※ ハイフンをつけずにご入力ください

        .l-single-content__group
          %label{:for => ""} 都道府県
          %span 必須
          = f.select :prefecture,Address.prefectures.keys,{prompt: '選択してください'}, class: 'btn'
        .l-single-content__group
          %label{:for => ""} 市区町村
          %span 必須
          = f.text_field :city, placeholder: "例) 横浜市緑区", class: "signup3__form__input"
        .l-single-content__group
          %label{:for => ""} 番地
          %span 必須
          = f.text_field :block, placeholder: "例) 青山1-1-1", class: "signup3__form__input"
        .l-single-content__group
          %label{:for => ""} 建物名
          %span 必須
          = f.text_field :home, placeholder: "例) ルミナスハイツ 402号室", class: "signup3__form__input"
      .l-single-content
        .l-single-content__group
          %p
            「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
        .actions
          = f.submit "次へ進む", class: 'next-btn'
        .l-single-content__group
          = link_to "本人情報の登録について>", "/", class: "text-right"
=render "shared/minifooter"