.mypage
  .mypage__side
    %ul.mypage__side__lists
      %li.mypage__side__lists__list__first
        = link_to "マイページ" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "お知らせ" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "やることリスト" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "いいね！一覧" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "出品する" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "出品した商品-出品中" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "出品した商品-取引中" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "出品した商品-売却済み" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "購入した商品-取引中" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "購入した商品-過去の取引" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "ニュース一覧" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "評価一覧" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "ガイド" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "お問い合わせ" , "#"
        %i.far.fa-angle-right

      %h3.mypage__side__lists__list__second
        = link_to "メルペイ" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "売上・振込申請" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "ポイント" , "#"
        %i.far.fa-angle-right

      %h3.mypage__side__lists__list__second
        = link_to "設定" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "プロフィール" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "発送元・お届け先住所変更" , "#"
        %i.far.fa-angle-right
      %li.mypage__side__lists__list
        = link_to "プロフィール" , "#"
        %i.far.fa-angle-right

.mypage__main
    .mypage__main__icon
      = link_to image_tag("/assets/icon/member_photo_noimage_thumb.png", class: "icon"),  "#"
    .mypage__main__contents