-# %h1 Purchase#done
-# %p Find me in app/views/purchase/done.html.haml

-# %h2 購入が完了しました！
-# %p Apple MacBook Pro 13インチ
-# %p ¥135,000(送料込み)


-# .single-container
-#   = render "shared/single-header"


.buy-item
  .buy-item__body
    .buy-item__alert
      .buy-item__alert__top
        .buy-item__alert__top__text
          発送をお待ちください
      .buy-item__alert__bottom
        出品者からの発送通知をお待ちください
        .buy-item__centerbox
    .buy-item__centerbox__head
      購入が完了しました
    .buy-item__centerbox__item
      .buy-item__centerbox__item__bx
        .buy-item__centerbox__item__bx__image
          = image_tag "#{@images[0].image}", size: "80x80"
        .buy-item__centerbox__item__bx__bbx
          .buy-item__centerbox__item__bx__name
            = @item.name
          .buy-item__centerbox__item__bx__name__detail
            ¥
            = @item.price.to_s(:delimited)
            （税込）送料込み
    .buy-item__centerbox__info
      .buy-item__centerbox__info__price
        .buy-item__centerbox__info__price__detail
          支払い金額
        .buy-item__centerbox__info__price__price
          ¥
          = @item.price.to_s(:delimited)
      .buy-item__centerbox__info__submit
        = link_to "トップページへ戻る", root_path, class: 'buy__centerbox__info__submit__button'

  -# .single-footer
  -#   = render "shared/single-footer"