-# %h1 Purchase#index
-# %p Find me in app/views/purchase/index.html.haml


-# %h2 購入を確定しますか？
-# %p Apple MacBook Pro 13インチ
-# %p ¥135,000(送料込み)
-# %br
-# %h3 支払い方法
-# - if @default_card_information.blank?
-#   %br /
-# - else
-#   -#以下カード情報を表示
-#   = "**** **** **** " + @default_card_information.last4
-#   - exp_month = @default_card_information.exp_month.to_s
-#   - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
-#   = exp_month + " / " + exp_year
-# %br
-# = form_tag(action: :pay, method: :post) do
-#   %button 購入する


= stylesheet_link_tag "furima/purchase"
= stylesheet_link_tag "furima/_reset"

.confirmation
  .section
    .title
      購入内容の確認
    .buy-item-1
      .buy-item-1__box
        .buy-item-1__box__image
          -# = image_tag "#{@images[0].image}", size: "80x80"
        .buy-item-1__box__content
          %p.buy-item-1__box__content__name
            -# = @item.name
          %p.buy-item-1__box__content__price
            .buy-item-1__box__content__number
            .buy-item-1__box__content__tax_included
              ¥
              -# = @item.price.to_s(:delimited)
              （税込）送料込み
    .payment
      .payment__box
        .payment__box__inner__price
          .payment__box__inner__price__left
            支払い金額
          .payment__box__inner__price__right
            ¥
            -# = @item.price.to_s(:delimited)
        .payment__box__inner__card
          .payment__box__inner__card__inner
            .payment__box__inner__card__inner__method
              .payment__box__inner__card__inner__method__word
                支払い方法
              .payment__box__inner__card__inner__method__change
                -# = link_to "変更する", card_index_path, class: "payment__box__inner__card__inner__method__change__link"
            .payment__box__inner__card__inner__info__text
              クレジットカード
              - if @default_card_information.blank?
                %br
              - else
                .payment__user__info__text__text
                  -#以下カード情報を表示
                  = "**** **** **** " + @default_card_information.last4
                  - exp_month = @default_card_information.exp_month.to_s
                  - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                  %br
                  有効期限
                  = exp_month + " / " + exp_year
                  %br
                  -# = image_tag 'credit-card_2.png', size: "30x24", id: 'card_2-logo'
          .payment__box__inner__shipping
            .payment__box__inner__shipping__inner
              .payment__box__inner__shipping__inner__title
                .payment__box__inner__shipping__inner__title__word
                  配送先
                .payment__box__inner__shipping__inner__title__change
                  -# = link_to "変更する", root_path, class: "payment__box__inner__shipping__inner__title__change"
              .payment__box__inner__shipping__inner__address__text
                = "〒 #{@address.zip_code}".insert(1, "-")
                %br
                = @address.prefecture
                = @address.city
                -# -if @address.building.present?
                -#   = @address.building
                %br
                = @address.first_name
                = @address.last_name
          .payment__box__inner__contents
            .payment__box__inner__contents__submit
              -# = form_with url: pay_item_purchase_index_path(@item.id), local: true do |f|
              -#   = f.submit '購入する', class: 'payment__box__inner__contents__submit__buttun'
-# .single-footer