= stylesheet_link_tag "furima/items"
= stylesheet_link_tag "furima/_reset"
.Header
  .Header__inner
    .Header__inner--main
      %h1.Header__inner--main--icon
        = link_to image_tag("/logo.png", class:"Header__inner--main--image"), "/"
      = form_with( scope: :search, url: items_path, local: true, method: :get, class: "search-form") do |f|
        = f.text_field :keyword, value: @search_params[:name], placeholder: "キーワードから探す", class: "searching-form"
        = f.label(:name, '名前') do
          = f.submit '' , class: 'sbtn'
          .SearchIcon
            %i.fas.fa-search
    .Header__inner--nav
      %ul.nav-left
        %li.nav-left--category
          = link_to "カテゴリー" , "#"
        %li.nav-left--brand
          = link_to "ブランド" , "#"
      %ul.nav-right
        - if user_signed_in?
          %li.nav-right--login
            .logout
            = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout__btn'
        - else
          %li.nav-right--new
            = link_to "新規会員登録", signup_path, class: 'header__center__bottom__right__link__signin'
          %li.nav-right--login
            = link_to "ログイン", new_user_session_path, class: 'header__center__bottom__right__link__session'