= stylesheet_link_tag "furima/items_new"
= stylesheet_link_tag "furima/_reset"

.sell
  %header
    =render "shared/miniheader"
  .sell__form
    .sell__form__container
    = form_with model: @item, local: true, class:"sell__form__head_box" do |f|
      .sell__form__head
        商品の情報を入力
        .br
        %font{:color => "red"}= flash[:notice] 


      .sell__upload_box
        %h3.sell__upload_head
          出品画像
          %span.form_require
            必須
        %p.sell__upload_text
          最大10枚までアップロードできます。
        .sell__dropbox_container.clearfix#image-box
          #previews
            %ul.pictures
              - if @item.persisted?
                - @images.each_with_index do |image,i| 
                  %li.picture#picture{data: { index: i }}
                    = image_tag "#{image.image}", data: { index: i }, width: "100", height: '100'
                    %span.js-remove 削除
        
          = f.fields_for :images do |i|  #この3行は、既存の画像に対してのボタン
            .js-file_group{data: i.index}
              .hidden
                = i.file_field :image

              -# プレビュー画像を削除する際のcheckbox viewには出ないようにしている
            -if @item.persisted?
              = i.check_box :_destroy, data:{ index: i.index }, class: 'hidden-destroy'

            -# 追加投稿の画像
          - if @item.persisted?
            .js-file_group{"data-index" => "#{@images.count}"}
              = file_field_tag :image, name: "item[images_attributes][#{@images.count}][image]", class: 'js-file'
              %span.js-remove 削除



      .sell__form__content
        .form_group
          %label
            商品名
            %span.form_require
              必須
          =f.text_field :name, class:"sell__input", placeholder:"商品名（必須40文字まで）"
        .form_group
          %label
            商品の説明
            %span.form_require
              必須
          =f.text_area :description, class:"sell__textarea", placeholder: "商品の説明 (必須 1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

      .sell__form__content2.clearfix
        %h3.sell__form__sub_head
          商品の詳細
          .sell__form_box
            .sell__form_group2
              %label
                %span.form_require
                  必須
            .select_wrap1
              カテゴリー
              -# = f.collection_select :category_id,@parents, :id, :name,{prompt: @parent.name},class:"select_wrap__box--select",id:"parent_category"
              -# = f.collection_select :category_id,@parents, :id, :name,{prompt: @child.name},class:"select_wrap__box--select",id:"m_category"
              -# = f.collection_select :category_id,@parents, :id, :name,{prompt: @ground_child.name},class:"select_wrap__box--select",id:"s_category"
              =f.select :category_id, {"#{@parent.name}": "#{@parent.id}"}, {},  class: "select_wrap__box--select",id: "parent_category"
              =f.select :category_id, {"#{@child.name}": "#{@child.id}"}, {},  class: "select_wrap__box--select",id: "parent_category"
              =f.select :category_id, {"#{@ground_child.name}": "#{@ground_child.id}"}, {},  class: "select_wrap__box--select",id: "parent_category"
              -# =f.select :category_id, {“{@child.name}“: “{@child.id}“}, {},  class: ‘select_wrap__box--select’,id: ‘m_category’
              -# =f.select :category_id, {“{@ground_child.name}“: “{@ground_child.id}“}, {},  class: ‘select_wrap__box--select’,id: ‘s_category’

            -# %i.icon-arrow-bottom
              -# = icon('fas', 'arrow-bottom', class: 'icon')
            
          .form_group
            %label
              ブランド
              %span.form_require2
                任意
            .div
              %input.sell__input_brand{placeholder: "例）シャネル"}
          .form_group
            %label
              商品の状態
              %span.form_require
                必須                         
            .select_wrap
              = f.select :condition, Item.conditions_i18n.invert, {}, class: 'sell__select',id:"condition"

              -# %i.icon-arrow-bottom
                -# = icon('fas', 'arrow-bottom', class: 'icon')
             

      .sell__form__content3.clearfix
        .sell__sub_head
          配送について
          .sell__form_box
            .form_group2
              %label
                配送料の負担
                %span.form_require
                  必須
              .select_wrap
                = f.select :delivery_charge_id, Item.delivery_charge_ids_i18n.invert, {}, {class: 'sell__select',id:"delivery_charge"}
                -# %i.icon-arrow-bottom
                -#   = icon('fas', 'arrow-bottom', class: 'icon')
            
              .form_group
                %label
                  発送元の地域
                  %span.form_require
                    必須
                .select_wrap
                  = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {promt:"選択してください"}, {class: 'sell__select',id:"prefectur"}

              -# %i.icon-arrow-bottom
              -#   = icon('fas', 'arrow-bottom', class: 'icon')
              
              .form_group
                %label
                  発送までの日数
                  %span.form_require
                    必須
                .select_wrap
                  = f.select :delivery_day_id, Item.delivery_day_ids_i18n.invert, {}, {class: 'sell__select',id:"delivery_day"}
              -# %i.icon-arrow-bottom
              -#   = icon('fas', 'arrow-bottom', class: 'icon')
            

      .sell__form__content4.clearfix
        %h3.sell__sub_head
          価格（¥300〜9,999,999）
        .sell__form__price_box
          .sell__form__price_box--left
            %label.price
              販売価格
            %span.form_require.option
              必須
          .sell__form__price_box--right
            %span.sell__yen_mark.option
              ¥
            = f.text_field :price, id:"price_calc", class:"sell__input_price",placeholder:"例) 300"
            -# %input#price_calc.sell__input_price{placeholder: "例) 300", type: "number"}/
            -# = f.number_field :price, class:"sell__input_price option", placeholder: "例)300"
        .sell__form__commission_box
          .sell__form__commission
            販売手数料（10%）
            .right_bar
          
        .sell__form__profit_box
          .sell__form__profit
            販売利益
            = f.number_field :price, style: "display: none", id: "price"
          .right_bar_2
          -# %span.sell__form__profit_line
            
          

      .sell__form__content5.clearfix
        .sell__form__content_text
        %button.sell__form__btn{type: "submit"}
          変更する
        %button.sell__form__back_btn{type: "submit"}
          もどる
    
  %footer
    =render "shared/minifooter"
