.Header
  .Header__inner
    .Header__inner--main
      %h1.icon
        = link_to image_tag asset_path("logo.png")
        -# = link_to image_tag("/assets/pict/bg-appBanner-pict.jpg"),"#"
        
    .Header__inner--nav
      %ul.nav-left
        %li.nav-left--category
          = link_to "カテゴリー" , "#"
        %li.nav-left--brand
          = link_to "ブランド" , "#"
      %ul.nav-right
        %li.nav-right--login
          = link_to "ログイン" , "#"
        %li.nav-right--new
          = link_to "新規会員登録" , "#"