.sell__page
  
  %header.sell__header
    %a.sell__header_logo
      = image_tag src = "/assets/logo/logo.png", size: "185x49"

  .sell__container
    %h2
      .sell__head
        商品の情報を入力

    .sell__upload_box
      %h3.sell__upload_head
        出品画像
        %span.form_require
          必須
      %p.sell__upload_text
        最大10枚までアップロードできます。
      .sell__dropbox_container.clearfix
        .sell__upload_drop_box
          %pre.sell_doropbox_text
            ドラッグアンドドロップ
            %rb またはクリックしてファイルをアップロード

    .sell__content
      .form_group
        %label
          商品名
          %span.form_require
            必須
        %input.sell__input{:placeholder => "商品名 (必須40文字まで)"}
      .form_group
        %label
          商品の説明
          %span.form_require
            必須
        %textarea.sell__textarea{:placeholder => "商品の説明 (必須 1,000文字以内) (色、素材、重さ、定価、注意点など) 例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"}

    .sell__content2.clearfix
      %h3.sell__sub_head
        商品の詳細
      .sell__form_box
        .form_group2
          %label
            カテゴリー
            %span.form_require
              必須
          .select_wrap
            %i.icon-arrow-bottom
              = icon('fas', 'arrow-bottom', class: 'icon')
            %select.sell__select
        .form_group
          %label
            ブランド
            %span.form_require2
              任意
          %input.sell__input_brand{:placeholder => "例）シャネル"}
        .form_group
          %label
            商品の状態
            %span.form_require
              必須
          .select_wrap
            %i.icon-arrow-bottom
              = icon('fas', 'arrow-bottom', class: 'icon')
            %select.sell__select

    .sell__content3.clearfix
      %h3.sell__sub_head
        配送について
      .sell__form_box
        .form_group2
          %label
            配送料の負担
            %span.form_require
              必須
          .select_wrap
            %i.icon-arrow-bottom
              = icon('fas', 'arrow-bottom', class: 'icon')
            %select.sell__select
        .form_group
          %label
            発送元の地域
            %span.form_require
              必須
          .select_wrap
            %i.icon-arrow-bottom
              = icon('fas', 'arrow-bottom', class: 'icon')
            %select.sell__select
        .form_group
          %label
            発送までの日数
            %span.form_require
              必須
          .select_wrap
            %i.icon-arrow-bottom
              = icon('fas', 'arrow-bottom', class: 'icon')
            %select.sell__select

    .sell__content4.clearfix
      %h3.sell__sub_head
        価格（¥300〜9,999,999）
        .sell__price_box
        .form_group
        %label.price
          販売価格
        %span.form_require
          必須
        %span.sell__yen_mark
          ¥
        %input.sell__input_price{:placeholder => "0"}

